<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newsletter</title>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/components/newsletter.css">
</head>
<body>
    <div class="newsletter">
        <div class="container-fluid">
            <h3>Massa Libero</h3>
            <hr class="mb-3">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, illo quibusdam. Perferendis, dolores! Totam architecto recusandae nemo voluptatem velit commodi aliquam. Exercitationem possimus praesentium voluptatum eligendi reprehenderit, nemo mollitia porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sint tempora hic provident voluptas, laborum quibusdam saepe eligendi! Necessitatibus ut asperiores consequatur obcaecati sequi rem. Sit consequuntur provident placeat at. </p>
            <a href="#" class="btn"> Get Started <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/447c326b0e.js" crossorigin="anonymous"></script>
</body>
</html>